WcfServiceFlightstats/Connected Services/AirportSoapApiService/AirportSoapApiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AirportSoapApiService" targetNamespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://api.flightstats.com:443/flex/flightstatus/soap/v2/airportService?xsd=1" namespace="http://v2.api_internal.flighthistory.cache.conducivetech.com/" />
    </xsd:schema>
  </types>
  <message name="airportTracks_arr">
    <part name="parameters" element="tns:airportTracks_arr" />
  </message>
  <message name="airportTracks_arrResponse">
    <part name="parameters" element="tns:airportTracks_arrResponse" />
  </message>
  <message name="APIException">
    <part name="fault" element="tns:APIException" />
  </message>
  <message name="airportStatus_dep">
    <part name="parameters" element="tns:airportStatus_dep" />
  </message>
  <message name="airportStatus_depResponse">
    <part name="parameters" element="tns:airportStatus_depResponse" />
  </message>
  <message name="airportTracks_dep">
    <part name="parameters" element="tns:airportTracks_dep" />
  </message>
  <message name="airportTracks_depResponse">
    <part name="parameters" element="tns:airportTracks_depResponse" />
  </message>
  <message name="airportStatus_arr">
    <part name="parameters" element="tns:airportStatus_arr" />
  </message>
  <message name="airportStatus_arrResponse">
    <part name="parameters" element="tns:airportStatus_arrResponse" />
  </message>
  <portType name="airportService">
    <operation name="airportTracks_arr">
      <input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_arrRequest" message="tns:airportTracks_arr" />
      <output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_arrResponse" message="tns:airportTracks_arrResponse" />
      <fault wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_arr/Fault/APIException" name="APIException" message="tns:APIException" />
    </operation>
    <operation name="airportStatus_dep">
      <input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_depRequest" message="tns:airportStatus_dep" />
      <output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_depResponse" message="tns:airportStatus_depResponse" />
      <fault wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_dep/Fault/APIException" name="APIException" message="tns:APIException" />
    </operation>
    <operation name="airportTracks_dep">
      <input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_depRequest" message="tns:airportTracks_dep" />
      <output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_depResponse" message="tns:airportTracks_depResponse" />
      <fault wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportTracks_dep/Fault/APIException" name="APIException" message="tns:APIException" />
    </operation>
    <operation name="airportStatus_arr">
      <input wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_arrRequest" message="tns:airportStatus_arr" />
      <output wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_arrResponse" message="tns:airportStatus_arrResponse" />
      <fault wsam:Action="http://v2.api_internal.flighthistory.cache.conducivetech.com/airportService/airportStatus_arr/Fault/APIException" name="APIException" message="tns:APIException" />
    </operation>
  </portType>
  <binding name="airportServicePortBinding" type="tns:airportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="airportTracks_arr">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </fault>
    </operation>
    <operation name="airportStatus_dep">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </fault>
    </operation>
    <operation name="airportTracks_dep">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </fault>
    </operation>
    <operation name="airportStatus_arr">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="AirportSoapApiService">
    <port name="airportServicePort" binding="tns:airportServicePortBinding">
      <soap:address location="https://api.flightstats.com:443/flex/flightstatus/soap/v2/airportService" />
    </port>
  </service>
</definitions>