WcfServiceFlightstats/Connected Services/ArlinesV1SoapService/AirlinesV1SoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://v1.airlines.cache.conducivetech.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="AirlinesV1SoapService" targetNamespace="http://v1.airlines.cache.conducivetech.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v1.airlines.cache.conducivetech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="airlineByFsCode" type="tns:airlineByFsCode" />
      <xs:element name="airlineByFsCodeResponse" type="tns:airlineByFsCodeResponse" />
      <xs:element name="airlineByIcao" type="tns:airlineByIcao" />
      <xs:element name="airlineByIcaoResponse" type="tns:airlineByIcaoResponse" />
      <xs:element name="airlines" type="tns:airlines" />
      <xs:element name="airlinesByIata" type="tns:airlinesByIata" />
      <xs:element name="airlinesByIataForDate" type="tns:airlinesByIataForDate" />
      <xs:element name="airlinesByIataForDateResponse" type="tns:airlinesByIataForDateResponse" />
      <xs:element name="airlinesByIataResponse" type="tns:airlinesByIataResponse" />
      <xs:element name="airlinesByIcao" type="tns:airlinesByIcao" />
      <xs:element name="airlinesByIcaoResponse" type="tns:airlinesByIcaoResponse" />
      <xs:element name="airlinesResponse" type="tns:airlinesResponse" />
      <xs:element name="allAirlines" type="tns:allAirlines" />
      <xs:element name="allAirlinesResponse" type="tns:allAirlinesResponse" />
      <xs:element name="currentAirlines" type="tns:currentAirlines" />
      <xs:element name="currentAirlinesResponse" type="tns:currentAirlinesResponse" />
      <xs:complexType name="airlineByIcao">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element name="icaoCode" type="xs:string" />
          <xs:element name="year" type="xs:int" />
          <xs:element name="month" type="xs:int" />
          <xs:element name="day" type="xs:int" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlineByIcaoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airline" final="extension restriction">
        <xs:all>
          <xs:element minOccurs="0" name="fs" type="xs:string" />
          <xs:element minOccurs="0" name="iata" type="xs:string" />
          <xs:element minOccurs="0" name="icao" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
          <xs:element name="active" type="xs:boolean" />
          <xs:element minOccurs="0" name="dateFrom" type="xs:string" />
          <xs:element minOccurs="0" name="dateTo" type="xs:string" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="airlinesByIata">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element name="iataCode" type="xs:string" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlinesByIataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlineByFsCode">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element name="code" type="xs:string" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlineByFsCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlinesByIcao">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element name="icaoCode" type="xs:string" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlinesByIcaoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="currentAirlines">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="currentAirlinesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="allAirlines">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="allAirlinesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlines">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element name="year" type="xs:int" />
          <xs:element name="month" type="xs:int" />
          <xs:element name="day" type="xs:int" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlinesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlinesByIataForDate">
        <xs:sequence>
          <xs:element name="appId" type="xs:string" />
          <xs:element name="appKey" type="xs:string" />
          <xs:element name="iataCode" type="xs:string" />
          <xs:element name="year" type="xs:int" />
          <xs:element name="month" type="xs:int" />
          <xs:element name="day" type="xs:int" />
          <xs:element minOccurs="0" name="extendedOptions" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="airlinesByIataForDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:airline" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="APIException" type="tns:APIException" />
      <xs:complexType name="APIException">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorCode" type="xs:string" />
          <xs:element minOccurs="0" name="errorId" type="xs:string" />
          <xs:element minOccurs="0" name="httpStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="airlineByIcao">
    <wsdl:part name="parameters" element="tns:airlineByIcao" />
  </wsdl:message>
  <wsdl:message name="allAirlinesResponse">
    <wsdl:part name="parameters" element="tns:allAirlinesResponse" />
  </wsdl:message>
  <wsdl:message name="currentAirlinesResponse">
    <wsdl:part name="parameters" element="tns:currentAirlinesResponse" />
  </wsdl:message>
  <wsdl:message name="APIException">
    <wsdl:part name="APIException" element="tns:APIException" />
  </wsdl:message>
  <wsdl:message name="currentAirlines">
    <wsdl:part name="parameters" element="tns:currentAirlines" />
  </wsdl:message>
  <wsdl:message name="allAirlines">
    <wsdl:part name="parameters" element="tns:allAirlines" />
  </wsdl:message>
  <wsdl:message name="airlines">
    <wsdl:part name="parameters" element="tns:airlines" />
  </wsdl:message>
  <wsdl:message name="airlinesByIataForDateResponse">
    <wsdl:part name="parameters" element="tns:airlinesByIataForDateResponse" />
  </wsdl:message>
  <wsdl:message name="airlinesByIata">
    <wsdl:part name="parameters" element="tns:airlinesByIata" />
  </wsdl:message>
  <wsdl:message name="airlineByFsCode">
    <wsdl:part name="parameters" element="tns:airlineByFsCode" />
  </wsdl:message>
  <wsdl:message name="airlinesByIcaoResponse">
    <wsdl:part name="parameters" element="tns:airlinesByIcaoResponse" />
  </wsdl:message>
  <wsdl:message name="airlinesByIcao">
    <wsdl:part name="parameters" element="tns:airlinesByIcao" />
  </wsdl:message>
  <wsdl:message name="airlinesByIataResponse">
    <wsdl:part name="parameters" element="tns:airlinesByIataResponse" />
  </wsdl:message>
  <wsdl:message name="airlinesResponse">
    <wsdl:part name="parameters" element="tns:airlinesResponse" />
  </wsdl:message>
  <wsdl:message name="airlineByIcaoResponse">
    <wsdl:part name="parameters" element="tns:airlineByIcaoResponse" />
  </wsdl:message>
  <wsdl:message name="airlineByFsCodeResponse">
    <wsdl:part name="parameters" element="tns:airlineByFsCodeResponse" />
  </wsdl:message>
  <wsdl:message name="airlinesByIataForDate">
    <wsdl:part name="parameters" element="tns:airlinesByIataForDate" />
  </wsdl:message>
  <wsdl:portType name="airlinesService">
    <wsdl:operation name="airlineByIcao">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoRequest" name="airlineByIcao" message="tns:airlineByIcao" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoResponse" name="airlineByIcaoResponse" message="tns:airlineByIcaoResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcao/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="airlinesByIata">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataRequest" name="airlinesByIata" message="tns:airlinesByIata" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataResponse" name="airlinesByIataResponse" message="tns:airlinesByIataResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIata/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="airlineByFsCode">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeRequest" name="airlineByFsCode" message="tns:airlineByFsCode" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeResponse" name="airlineByFsCodeResponse" message="tns:airlineByFsCodeResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCode/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="airlinesByIcao">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoRequest" name="airlinesByIcao" message="tns:airlinesByIcao" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoResponse" name="airlinesByIcaoResponse" message="tns:airlinesByIcaoResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcao/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="currentAirlines">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesRequest" name="currentAirlines" message="tns:currentAirlines" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesResponse" name="currentAirlinesResponse" message="tns:currentAirlinesResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlines/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="allAirlines">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesRequest" name="allAirlines" message="tns:allAirlines" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesResponse" name="allAirlinesResponse" message="tns:allAirlinesResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlines/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="airlines">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesRequest" name="airlines" message="tns:airlines" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesResponse" name="airlinesResponse" message="tns:airlinesResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlines/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
    <wsdl:operation name="airlinesByIataForDate">
      <wsdl:input wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateRequest" name="airlinesByIataForDate" message="tns:airlinesByIataForDate" />
      <wsdl:output wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateResponse" name="airlinesByIataForDateResponse" message="tns:airlinesByIataForDateResponse" />
      <wsdl:fault wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDate/Fault/APIException" name="APIException" message="tns:APIException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirlinesV1SoapServiceSoapBinding" type="tns:airlinesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="airlineByIcao">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoRequest" style="document" />
      <wsdl:input name="airlineByIcao">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airlineByIcaoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIata">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataRequest" style="document" />
      <wsdl:input name="airlinesByIata">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airlinesByIataResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlineByFsCode">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeRequest" style="document" />
      <wsdl:input name="airlineByFsCode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airlineByFsCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIcao">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoRequest" style="document" />
      <wsdl:input name="airlinesByIcao">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airlinesByIcaoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="currentAirlines">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesRequest" style="document" />
      <wsdl:input name="currentAirlines">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="currentAirlinesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="allAirlines">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesRequest" style="document" />
      <wsdl:input name="allAirlines">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="allAirlinesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlines">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesRequest" style="document" />
      <wsdl:input name="airlines">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airlinesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIataForDate">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateRequest" style="document" />
      <wsdl:input name="airlinesByIataForDate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="airlinesByIataForDateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault use="literal" name="APIException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirlinesV1SoapService">
    <wsdl:port name="airlinesServicePort" binding="tns:AirlinesV1SoapServiceSoapBinding">
      <soap:address location="https://api.flightstats.com/flex/airlines/soap/v1/airlinesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>